<h2>Inclusão</h2>
<div class="container">
  <div class="row">
    <label for="category" class="col-sm-2 col-form-label">Categoria</label>
  </div>
  <div class="row">
    <div class="col-8">
      <input type="text" class="form-control col" id="category"
             [(ngModel)]="models.categoryName" #categoryName="ngModel" [ngModelOptions]="{standalone:true}"/>

    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary mb-3 w-100"
              (click)="addCategory(categoryName.value);"
              [disabled]="!categoryName.value">Adicionar
      </button>
    </div>
  </div>
</div>


<div class="container" *ngIf="taskRepository.categoryItems$ | async as categories">
  <div class="row">
    <label for="group" class="col-sm-2 col-form-label">Grupo</label>
  </div>
  <div class="row">
    <div class="col-8 mb-2">
      <select #categoryId="ngModel" ngModel [ngModelOptions]="{standalone:true}" class="form-select"
              aria-label="Default select example" [disabled]="!categories.length">
        <option selected value="">Escolha uma categoria</option>
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <input #groupName="ngModel" [(ngModel)]="models.groupName" [ngModelOptions]="{standalone:true}"
             [disabled]="!categoryId.value"
             type="text" class="form-control col" id="group">
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary mb-3 w-100" [disabled]="!groupName.value"
              (click)="addGroup(groupName.value, categoryId.value)">Adicionar
      </button>
    </div>
  </div>
</div>

<div class="container" *ngIf="taskRepository.groupItems$ | async as groups">
  <div class="row">
    <label for="task" class="col-sm-2 col-form-label">Tarefa</label>
  </div>
  <div class="row">
    <div class="col-8 mb-2">
      <select #groupId="ngModel" ngModel [ngModelOptions]="{standalone:true}" [disabled]="!groups.length"
              class="form-select" aria-label="Default select example">
        <option selected value="">Escolha um grupo</option>
        <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <input #taskName="ngModel" [(ngModel)]="models.taskName" [ngModelOptions]="{standalone:true}"
             [disabled]="!groupId.value"
             type="text" class="form-control col" id="task">
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary mb-3 w-100"
              [disabled]="!taskName.value" (click)="addTask(taskName.value, groupId.value)">Adicionar
      </button>
    </div>
  </div>
</div>

<br>

<h2>Itens</h2>

<ol *ngIf="taskRepository.categoryItems$ | async as categories" class="list-group">
  <li *ngFor="let category of categories" class="list-group-item">
    <p class="d-inline-block m-0 pe-2 fw-bold">Categoria: {{category.name}}</p>
    <span *ngIf="category.active" class="badge rounded-pill text-bg-warning">Em uso</span>
    <button *ngIf="!category.active" type="button" class="btn btn-primary btn-sm" (click)="removeItem(category.id)">
      Remover
    </button>
    <ol type="a" *ngIf="taskRepository.groupItems$ | async as groups" class="list-group mt-1">
      <ng-container *ngFor="let group of groups">
        <li *ngIf="category.id == group.parent" class="list-group-item bd-gray-200">
          <p class="d-inline-block m-0 pe-2">Grupo: {{group.name}}</p>
          <span *ngIf="group.active" class="badge rounded-pill text-bg-warning">Em uso</span>
          <button *ngIf="!group.active" type="button" class="btn btn-primary btn-sm m-0 p-1" (click)="removeItem(group.id)">
            Remover
          </button>
          <ul *ngIf="taskRepository.taskItems$ | async as tasks" class="list-group  mt-1">
            <ng-container *ngFor="let task of tasks">
              <li *ngIf="group.id == task.parent" class="list-group-item bg-warning bg-opacity-50">
                <p class="d-inline-block m-0 p-0 pe-2 ">task: {{task.name}}</p>
                <span *ngIf="task.active" class="badge rounded-pill text-bg-warning">Em uso</span>
                <button *ngIf="!task.active" type="button" class="btn btn-primary btn-sm m-0 p-1"
                        (click)="removeItem(task.id)">Remover
                </button>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ol>
  </li>
</ol>
