<ng-container>
  <h2>Tarefas do dia ({{(taskRepository.activeTasks$ | async)?.length}})</h2>
  <p>{{date}}</p>
  <br>
  <div *ngIf="taskRepository.taskItems$ | async as tasks" class="d-flex flex-column w-75 m-auto">
    <div *ngFor="let task of tasks"
         class="btn-group-vertical m-1" role="group" aria-label="Vertical radio toggle button group">
      <input type="checkbox" class="btn-check" name="vbtn-radio" [id]="task.id" autocomplete="off"
             [checked]="task.active" (click)="toggle(task)">
      <label class="btn btn-outline-success" [for]="task.id">
        {{task.name}}
        <span [class.invisible]="!task.active" class="float-end">✓</span>
      </label>
    </div>
  </div>
</ng-container>


<div class="d-flex flex-row w-75 m-auto rounded-2">
  <span class="bg-opacity-25 bg-info p-0 text-success text-uppercase fw-semibold rounded-2 border border-success"
        style="text-align: center;writing-mode: vertical-rl; font-size: xx-small">categoria</span>
  <div class="d-flex flex-column flex-fill">
    <section class="d-flex flex-row flex-fill">
      <div class="d-flex flex-column flex-fill">
        <div role="group" aria-label="Vertical radio toggle button group" class="btn-group-vertical m-1 flex-fill">
          <input type="checkbox" name="vbtn-radio" id="xxxx" autocomplete="off" class="btn-check">
          <label for="xxxx" class="btn btn-outline-success"> tarefa </label>
        </div>
        <div role="group" aria-label="Vertical radio toggle button group" class="btn-group-vertical m-1 flex-fill">
          <input type="checkbox" name="vbtn-radio" id="yyy" autocomplete="off" class="btn-check">
          <label for="yyy" class="btn btn-outline-success"> tarefa </label>
        </div>
        <div role="group" aria-label="Vertical radio toggle button group" class="btn-group-vertical m-1 flex-fill">
          <input type="checkbox" name="vbtn-radio" id="zzz" autocomplete="off" class="btn-check">
          <label for="zzz" class="btn btn-outline-success"> tarefa </label>
        </div>
      </div>
      <span class="bg-opacity-50 text-success p-0 bg-warning text-uppercase fw-semibold rounded-2 border border-success"
            style="text-align: center;writing-mode: vertical-rl; font-size: xx-small">grupo 1</span>
    </section>
    <section class="d-flex flex-row flex-fill mt-1">
      <div class="d-flex flex-column flex-fill">
        <div role="group" aria-label="Vertical radio toggle button group" class="btn-group-vertical m-1 flex-fill">
          <input type="checkbox" name="vbtn-radio" id="aa" autocomplete="off" class="btn-check">
          <label for="aa" class="btn btn-outline-success"> tarefa </label>
          <input type="checkbox" name="vbtn-radio" id="ss" autocomplete="off" class="btn-check">
          <label for="ss" class="btn btn-outline-success"> tarefa </label>
          <input type="checkbox" name="vbtn-radio" id="dd" autocomplete="off" class="btn-check">
          <label for="dd" class="btn btn-outline-success"> tarefa </label>
        </div>
      </div>
      <span class="bg-opacity-25 text-success p-0 bg-dark text-uppercase fw-semibold rounded-2 border border-success"
            style="text-align: center;writing-mode: vertical-rl; font-size: xx-small">grupo 2</span>
    </section>
  </div>
</div>
